:root {
  --first-color: #3ae3c7;
  --second-color: #f67280;
  --third-color: #c06c84;
  --fourth-color: #6c5b7b;
  --fifth-color: #355c7d;
}


body {
  margin: 0;
  padding: 0;
  background:var(--second-color)
}

div.table {
  font-family:'Courier New', Courier, monospace;
  display: flex;
  width: 500px;
  height: 300px;
  background:var(  --fifth-color);
  color: var(--first-color);
  position: absolute;
  padding: 25px;
  flex-direction:row;
  flex-wrap: wrap;
  border: 10px solid peachpuff;
  margin: 5px;
  border-style: inset;
  box-shadow: 6px 6px 2px 1px rgba(178, 178, 178, 0.577);
}

 button {
  width: 75px;
  height: 75px;
  background:#355c7d;
  font-size: 20px;
  padding: 0px;
  justify-content: center;
  margin: 5px;
}
.total {
  width: 100px;
  height: 100px;
  background:#355c7d;
  border: solid 5px gray;
  font-size: 30px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

#calc {
  top: 200pt;
  left: 300pt;
}



#US-E {
display: inherit;
font-family: inherit;
align-content: space-between;
background-color: green;
width: 500px;
height: 40px;
flex-direction: row;
}

.timezone-form {
  height: 30px;
  width:30
}

p {
  margin: 20px;
}